align {
  width: 100px;
  vertical-align: top;
  box-align: right;
}

body {
  background: linear-gradient(#564572, #261e32) fixed;
}

.center {
  position: absolute;
  height: 70%;
  width: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 2px solid black;
  background-color: #bdbec0;
  box-shadow: 0 0 10px 0 black;
  border-radius:0.5em;
}

.content {
  height: 100%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

header {  
  background-color: #bdbec0;  
  position: fixed;  
  left: 0;  
  right: 0;  
  top: 0px;  
  height: 50px;  
  box-shadow: 0 0 25px 0 black;  
}

.image {
  position: absolute;
  width: 5%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.backbutton {
  margin-left: 0.5%;
  margin-top: 0.4%;
  width: 100px;
  height: 40px;
  transition-duration: 0.3s;
  border-radius:0.5em;
}

.backbutton:hover {
  background-color: #564572;
  color: white;
}

.submit {
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background: linear-gradient(135deg, #564572, #261e32);
  color: white;
  display: block;
  margin: 0 auto;
  transition-duration: 0.5s
}

.submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

textarea {
  height: 200px;
  width: 354px;
  resize: none;
}

input[type=text] {
  width: 360px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login {
  border-radius: 15px;
  width: 400px;
  height: 175px;
  font-size: 50px;
  font-family: "Gill Sans", sans-serif;
  font-weight: 600;
  -webkit-text-fill-color: #564572;
  background: linear-gradient(135deg, #bdbec0, #434344);
  color: white;
  display: block;
  margin: 0 auto;
}

.password {
  font-size: 50px;
  text-align: center;
  -webkit-text-fill-color: white;
}

.passwordinput {
  font-size: 40px;
}

.connecter {
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background: linear-gradient(135deg, #564572, #261e32);
  color: white;
  display: block;
  margin: 0 auto;
  transition-duration: 0.5s;
}

.connecter:hover {
  background: #bdbec0;
  color: white;
}

.tableAdmin {
  border-collapse: collapse;
  width: 100%;
  background-color: #dddddd;
}

.trAdmin {
  border: 1px solid #7a7a7a;
  text-align: left;
  padding: 8px;
}

.tdAdmin {
  border: 1px solid #7a7a7a;
  text-align: left;
  padding: 8px;
}
